table.groups {
    table-layout: fixed;
    float: left;
    margin: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 20%;
    text-align: center;
}

th.smaller {
    width: 5%;
}

th.points, td.points {
    width: 10%;
}

table.bracket {
    width: 75%;
    margin: 10px;
}

div.aside {
    width: 25%;
    float: left;
}

table.margin25 {
    margin-top: 7%;
}

table.margin50 {
    margin-top: 13%;
}

table.margin75 {
    margin-top: 18%;
}

table.margin100 {
    margin-top: 36%;
}

.bold {
    font-weight: bold;
}

.green {
    background-color: #9DFFBD;
}
